APP_NAME=sshd
DOCKER_IMAGE=local/network/sshd:latest
SSHD_EXTERNAL_INGRESS_PORT=2222
SSHD_INTERNAL_FORWARDING_PORT_01=9998
SSHD_EXTERNAL_FORWARDING_PORT_01=9998
SSHD_INTERNAL_FORWARDING_PORT_02=9999
SSHD_EXTERNAL_FORWARDING_PORT_02=9999
